<!DOCTYPEhtml>
<html>
	<head>
		<meta charset='utf-8'/>
		<title><%=title%></title>
		<% include um_head %>
		<link rel='stylesheet' href='/stylesheets/fullcalendar.css'/>
		<link rel='stylesheet' href='/stylesheets/fullcalendar.print.css' media='print' />
		<link rel='stylesheet' href='/stylesheets/style.css'/>
		<script src='/javascripts/lib/moment.min.js'></script>
		<script src='/javascripts/fullcalendar.min.js'></script>
		<script src='/javascripts/ja.js'></script>
		<script type="text/javascript"><!--
			$(document).ready(function() {
				var data = <%-data%>;
				$('#calendar').fullCalendar({
					header: {
							left: 'prev,next today',
							center: 'title',
							right: 'month,agendaWeek,agendaDay'
					},
					defaultDate: '2014-11-12',  //TODO 一旦、11月にしておく
					editable: true,
					eventLimit: false, // allow "more" link when too many events
					events: data,
					
					// イベントをクリックしたらポップアップ表示
					eventClick: function(calEvent, jsEvent, view) {
						if(calEvent.description!=undefined){
							alert(calEvent.description);
						}
						//$('#calendar').fullCalendar('updateEvent', calEvent);
					}
					
				});
			});

		--></script>
		<style>

			body {
				padding: 0;
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				font-size: 14px;
			}

			#calendar {
				max-width: 900px;
				margin: 0 auto;
			}

		</style>


 </head>
 <body>
    <% include um_navbar %>
    <% include um_messages %>
    <div class="container" role="main">
  <h1><%=title%></h1>
	<div id='calendar'></div>
	<h3>イベント非表示 <span>（選択したイベントを非表示にします）</span></h3>
	<ul class="delete-events_class">
		<li><a href="#" class="class-a">class-a</a></li>
		<li><a href="#" class="class-b">class-b</a></li>
		<li><a href="#" class="class-c">class-c</a></li>
	</ul>
	<!--ul class="delete-events_date">
		<li><a href="#">2014-10-01</a></li>
		<li><a href="#">2014-10-03</a></li>
		<li><a href="#">2014-10-04</a></li>
		<li><a href="#">2014-10-07</a></li>
		<li><a href="#">2014-10-09</a></li>
	</ul-->
	<p><a href="#" onclick="location.reload(); return false;">再表示</a></p>
	</div>
 </body>
 
<script type="text/javascript"><!--
	//イベント削除のクラス名をクリックしたときの処理
	$(".delete-events_class a").click(function(){
		var className = $(this).text();
		//フィルター内で直接処理をする
		$('#calendar').fullCalendar('clientEvents', function(clEvent){
			if(clEvent.className == className){ //クラス名が一致するイベントについて、処理をする
				$('#calendar').fullCalendar('removeEvents', clEvent.id);
			}
		});
		return false;
	});
	
	//イベント削除の日付をクリックしたときの処理
	$(".delete-events_date a").click(function(){
		var eventDate = $(this).text();
		
		//フィルターで「selectedEvents」にイベントを取得しする
		var selectedEvents = $('#calendar').fullCalendar('clientEvents', function(clEvent){
			var rootEventDate = moment(clEvent.start);
			rootEventDate = ((rootEventDate.format()).split('T'))[0];
			if(rootEventDate == eventDate){
				//日付が一致するイベントを、データとして返す
				return true;
			}else{
				//日付が一致しない場合は、データとして返さない
				return false;
			}
		});
		
		//取得したイベントすべてに処理を行う
		for(var i in selectedEvents){
			$('#calendar').fullCalendar('removeEvents', selectedEvents[i].id);
		}
		
		return false;
	});
	
--></script>

</html>
